{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow-sm p-4">

      <!-- Título dinâmico -->
      <h1 class="mb-4 text-center">
        {% if category.pk %}
          Editar Categoria
        {% else %}
          Criar Categoria
        {% endif %}
      </h1>

      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.name }}
        </div>

        <button class="btn btn-success w-100" type="submit">
          {% if category.pk %}
            Salvar Alterações
          {% else %}
            Criar Categoria
          {% endif %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
