{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm p-4">

      <!-- Título -->
      <h1 class="mb-4 text-center text-danger">Excluir Categoria</h1>

      <div class="mb-3">
        <h5>Tem certeza que deseja excluir a categoria abaixo?</h5>
      </div>

      <!-- Card com detalhes da categoria -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
        </div>
      </div>

      <!-- Form de exclusão -->
      <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
          <button class="btn btn-danger" type="submit">Excluir</button>
          <a class="btn btn-secondary" href="{% url 'notes:categories_list' %}">Cancelar</a>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}